body {
  font-family: 'Roboto Condensed', sans-serif;
}

header {
  background: #f72210;
}

#Layer_1 {
  fill: white;
  height: 60px;
  width: 360px;
}

/* IN THE MAGAZINE SECTION */

.section-title {
  border-bottom: 1px solid #d9d9d9;
  font-size: 19px;
}

.newsweek-icon {
  display: block;
  height: 28px;
  width: 29px;
  margin-right: 10px;
  background: #f72210;
}

.publication-date {  
  background: rgba(255,255,255,0.9);
  padding: 0 10px;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #f72210;
  text-transform: uppercase;
  text-decoration: none;
}

.publication-date:hover {
  color: #f72210;
  text-decoration: none;
}

.cover-issue-link {
  height: auto;
  background: #f4f5f6;
  font-size: 20px;
  color: black;
  text-align: center;
}

.cover-issue-link:hover {
  color: black;
  text-decoration: none;
}

.snippet-image {
  max-width: 100%;
  overflow: hidden;
 }

 .article-category {
  color: #fff;
  background-color: #f72210;
  font-size:16px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
}

.article-subcategory {
  color: #f72210;
  font-size:16px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
}

.article-caption-header {
  height: auto;
  line-height: 20px;
}

.article-caption {
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  color: black;
}

.article-caption:hover {
  color: black;
  text-decoration-color: #f72210;
}

.in-focus {
  width: 100%;
}


/* EDITOR'S PICK SECTION */

.editor-pick-article-caption {
  font-size: 24px;
  font-weight: bold;
  line-height: 16px !important;
  color: black;
}

.editor-pick-article-caption:hover {
  color: black;
  text-decoration-color: #f72210;
}

.editor-pick-article-summary {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
}
/* FOCUS SECTIONS */
.focus-section-title {
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
}

.focus-section-title-link, .focus-section-title-link:hover{
  color: #f72210;
  text-decoration: none;
}

.small-article-header {
  font-size: 17px;
  line-height: 21px;
}

.small-article-header a,
.small-article-header a:visited {
  text-decoration: none;
  color: #000;
}

.small-article-header a:hover {
  color: #f72210;
}

/* FOOTER SECTION */

.main-footer-content {
  border-top: 2px solid #f4f5f6;
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}

.brand-link {
  width: 236px;
  height: 36px;
  fill: #f72210;
}

.footer-copyright {
  font-family: 'Arial','Helvetica',sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  color: #666;
}