body {
  font-family: 'Roboto Condensed', sans-serif;
}

header {
  background: #f72210;
}

#Layer_1 {
  fill: white;
  height: 60px;
  width: 360px;
}

.section-title {
  border-bottom: 1px solid #d9d9d9;
  font-size: 19px;
}

.newsweek-icon {
  display: block;
  height: 28px;
  width: 29px;
  margin-right: 10px;
  background: #f72210;
}

.coronavirus-newsweek-container {
  position: relative;
}

.image-anchor {
  display: block;
}

.publication-date {
  font-size: 1rem;
  color: #f72210;
  padding: 0 10px;
  background: rgba(255,255,255,0.9);
  position: absolute;
  bottom: 0;
  left: 0;
}

.publication-date a {
  color: inherit;
}

.see-all-publications {
  color: inherit;
}